@import 'bootstrap.less';

@brand-gray: #999;
@brand-orange: #E65E3B;

@brand-primary: @brand-orange;
@text-color: @brand-gray;
@link-color: @brand-gray;

.wrapper {
    padding: 0 20px;
    max-width: 1150px;
}

#site-header {
    height: 73px;
    border-bottom: 2px solid #f0ac9a;
    line-height: 73px;
    font-size: 18px;
    text-align: center;
    a {
        color: @brand-orange;
        text-decoration: none;
    }
    .logo {
        width: 29px;
        height: 27px;
        display: inline-block;
        margin-right: 18px;
        top: 5px;
        position: relative;
        background: url(../images/sprite.png) -3px -5px;
    }
}

#site-content {
    min-height: 348px;
    .carousel-inner {
        .item {
            max-height: 348px;
        }
        .carousel-caption {
            font-size: 16px;
        }
        img {
            width:100%;
            height:auto;
        }
    }
    .carousel-title {
        top: 20px;
        left: 50%;
        width: 60%;
        margin-left: -30%;
        position: absolute;
        z-index: 1;
        text-align: center;
        .carousel-title-inner {
            color: white;
            padding: 10px 20px;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            display: inline-block;
            p {
                margin-bottom: 0;
            }
        }
    }
}

#site-gmap {
    height: 346px;
    border-top: 2px solid #f0ac9a;
    position: relative;
    iframe {
        height: 100%;
        width: 100%;
    }
}

#site-footer {
    border-top: 2px solid #f0ac9a;
    text-align: center;
    line-height: 45px;
    font-size: 12px;
    p {
        margin: 0;
    }
}



.translate-links {
    text-align: center;
    line-height: 110px;
    margin-top:5px;
    font-size: 12px;
    a {
        margin: 0 12px;
    }
}

.btn-primary {
    width: 209px;
    margin: 0 18px;
    font-size: 16px;
    line-height: 46px;
    padding: 0;
    margin: 5px;
    border: 2px solid #efefef;
    border-radius: 10px;
    &:hover {
        border: 2px solid #efefef;
    }
}

.btn-default {
    width: 209px;
    margin: 0 18px;
    font-size: 14px;
    line-height: 46px;
    padding: 0;
    margin: 5px;
    background: transparent;
    color: @brand-orange;
    border: 2px solid #efefef;
    border-radius: 10px;
    &:hover {
        border: 2px solid #efefef;
        color: @brand-orange;
    }
}


.main-buttons {
    text-align: center;
    @media (max-width: @screen-xs-max) {
        line-height: 65px;
    } 
}

.main-links {
    text-align: center;
    line-height: 110px;
    a {
        margin: 0 14px;
        white-space: pre;
        color: @brand-orange;
        padding: 25px 0;
    }
    @media (max-width: @screen-xs-max) {
        line-height: 60px;
    } 
}

.social-links {
    text-align: center;
    height: 76px;
    .foursquare {
        width: 16px;
        height: 16px;
        background: url(../images/sprite.png) 73px -14px;
        display: inline-block;
        margin-right: 5px;
        top: 3px;
        position: relative;
    }
    .facebook {
        width: 16px;
        height: 16px;
        background: url(../images/sprite.png) 46px -14px;
        display: inline-block;
        margin-right: 5px;
        top: 3px;
        position: relative;
    }
    .vk {
        width: 16px;
        height: 16px;
        background: url(../images/sprite.png) 19px -14px;
        display: inline-block;
        margin-right: 5px;
        top: 3px;
        position: relative;
    }
    a {
        margin: 0 13px;
    }
    @media (max-width: @screen-xs-max) {
        padding: 30px 0;
        line-height: 20px;
    } 
}

.gmap-title {
    top: 20px;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    position: absolute;
    z-index: 1;
    text-align: center;
    .gmap-title-inner {
        color: white;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        display: inline-block;
        p {
            margin-bottom: 0;
        }
    }
}

.page-header {
    text-align: center;
    line-height: 85px;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 0;
    border:none;
}

.showplace {
    position: relative;
    margin-bottom: 25px;
    img {
        display: block;
        margin: auto;
    }
    .showplace-caption {
        text-align: center;
        line-height: 50px;
    }
}

.rooms-photos {
    display:block;
    max-width:825px;
    margin:0 auto;
    padding-bottom:30px;
    .carousel-inner {
        img {
            width: 100%;
        }
    }
}

.carousel-thumbnails {
    max-width: 843px;
    margin: 0 -9px -9px;
    .thumbnail.active > a, .thumbnail:focus > a, .thumbnail:hover > a {
        border-color: #f0ac9a;
    }
    .thumbnail {
    float:left;
    margin: 0 9px;
    padding: 0;
    border: none;
    a {
        display: block;
        padding: 0;
        margin-bottom: 20px;
        background-color: #fff;
        overflow: hidden;
        border: 2px solid #efefef;
        height: 103px;
        width: 102px;
        position:relative;
        border-radius: 4px;
    }
    img {
        max-width:200%;
        position:absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
}

